BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UserType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UserPermissionType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.UserPermission ADD CONSTRAINT
	FK_UserPermission_UserType FOREIGN KEY
	(
	UserTypeID
	) REFERENCES dbo.UserType
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.UserPermission ADD CONSTRAINT
	FK_UserPermission_UserPermissionType FOREIGN KEY
	(
	UserPermissionTypeID
	) REFERENCES dbo.UserPermissionType
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.UserPermission SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.TransactionType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Suburb SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Region SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Province SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Policy SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.InstructionType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.DiaryType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Country SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.City SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Address ADD CONSTRAINT
	FK_Address_Province FOREIGN KEY
	(
	ProvinceID
	) REFERENCES dbo.Province
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Address ADD CONSTRAINT
	FK_Address_Region FOREIGN KEY
	(
	RegionID
	) REFERENCES dbo.Region
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Address ADD CONSTRAINT
	FK_Address_Suburb FOREIGN KEY
	(
	SuburbID
	) REFERENCES dbo.Suburb
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Address ADD CONSTRAINT
	FK_Address_City FOREIGN KEY
	(
	CityID
	) REFERENCES dbo.City
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Address ADD CONSTRAINT
	FK_Address_Country FOREIGN KEY
	(
	CountryID
	) REFERENCES dbo.Country
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Address SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Insurer ADD CONSTRAINT
	FK_Insurer_Address FOREIGN KEY
	(
	AddressID
	) REFERENCES dbo.Address
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Insurer SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.[Transaction] ADD CONSTRAINT
	FK_Transaction_TransactionType FOREIGN KEY
	(
	TransactionTypeID
	) REFERENCES dbo.TransactionType
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.[Transaction] ADD CONSTRAINT
	FK_Transaction_Insurer FOREIGN KEY
	(
	InsurerID
	) REFERENCES dbo.Insurer
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.[Transaction] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.[User] ADD CONSTRAINT
	FK_User_UserType FOREIGN KEY
	(
	UserTypeID
	) REFERENCES dbo.UserType
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.[User] ADD CONSTRAINT
	FK_User_Address FOREIGN KEY
	(
	AddressID
	) REFERENCES dbo.Address
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.[User] SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Instruction ADD CONSTRAINT
	FK_Instruction_InstructionType FOREIGN KEY
	(
	InstructionTypeID
	) REFERENCES dbo.InstructionType
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Instruction ADD CONSTRAINT
	FK_Instruction_User FOREIGN KEY
	(
	UserID
	) REFERENCES dbo.[User]
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Instruction SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Diary ADD CONSTRAINT
	FK_Diary_DiaryType FOREIGN KEY
	(
	DiaryTypeID
	) REFERENCES dbo.DiaryType
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Diary ADD CONSTRAINT
	FK_Diary_Instruction FOREIGN KEY
	(
	InstructionID
	) REFERENCES dbo.Instruction
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Diary SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.PolicyHolder ADD CONSTRAINT
	FK_PolicyHolder_Policy FOREIGN KEY
	(
	PolicyID
	) REFERENCES dbo.Policy
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PolicyHolder ADD CONSTRAINT
	FK_PolicyHolder_User FOREIGN KEY
	(
	UserID
	) REFERENCES dbo.[User]
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.PolicyHolder SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ActionType SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ActionSystem SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ActionStatus SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Action ADD CONSTRAINT
	FK_Action_ActionStatus FOREIGN KEY
	(
	ActionStatusID
	) REFERENCES dbo.ActionStatus
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Action ADD CONSTRAINT
	FK_Action_ActionSystem FOREIGN KEY
	(
	ActionSystemID
	) REFERENCES dbo.ActionSystem
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Action ADD CONSTRAINT
	FK_Action_ActionType FOREIGN KEY
	(
	ActionTypeID
	) REFERENCES dbo.ActionType
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Action ADD CONSTRAINT
	FK_Action_Transaction FOREIGN KEY
	(
	TransactionID
	) REFERENCES dbo.[Transaction]
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Action ADD CONSTRAINT
	FK_Action_User FOREIGN KEY
	(
	UserID
	) REFERENCES dbo.[User]
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Action SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
